.asiedLift
{
    width:250px;
    
}
.asiedRight
{
    width: 50px;
    text-align: center;
    padding: 10px;
}
.nav{
    width: 300px;
    transition: all .6s;
    left: -250px;
}

.nav_link{
    padding-block:10px ;
    cursor: pointer;
    transition: all .6s;
    display: block;
    width: 100%;
    text-decoration: none;
}
.nav_link:hover
{
background: gray;
transform: translateX(10px);
}

